@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IntelOne Mono";
  src: url("./fonts/intelone-mono-font-family-regular.woff") format("woff"),
    url("./fonts/intelone-mono-font-family-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IntelOne Mono";
  src: url("./fonts/intelone-mono-font-family-italic.woff") format("woff"),
    url("./fonts/intelone-mono-font-family-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

.prose * {
  color: #000;
}

.prose :where(a):not(:where([class~="not-prose"] *)),
.prose :where(a):not(:where([class~="not-prose"] *)) h3 {
  @apply no-underline;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 60%,
    #38f288 60%,
    #38f288 100%
  );
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  @apply bg-neutral-100 py-[0px] px-[4px] font-normal border-[1px] border-neutral-300;
}

.prose :where(code):not(:where([class~="not-prose"] *)):before,
.prose :where(code):not(:where([class~="not-prose"] *)):after {
  content: none;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  @apply bg-transparent;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply font-mono;
  text-shadow: none;
}

pre[class*="language-"].line-numbers {
  @apply p-12 my-0 text-sm mx-auto border-0 leading-[1.2em];
  font-variant-ligatures: none;
}

figcaption a {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0) 60%,
    #38f288 60%,
    #38f288 100%
  );
}

.quote figcaption p {
  @apply m-0;
}

.quote figcaption {
  @apply mt-4 text-neutral-500 font-light;
}

.template-blogpage {
  word-wrap: break-word;
}
