@tailwind base;
@tailwind components;
@tailwind utilities;

.prose * {
  color: #011627;
}

.prose :where(a):not(:where([class~="not-prose"] *)),
.prose :where(a):not(:where([class~="not-prose"] *)) h3 {
  @apply text-blue;
}

.prose :where(code):not(:where([class~="not-prose"] *)) {
  @apply bg-gray-200 py-[0px] px-[4px] font-normal;
}

.prose :where(code):not(:where([class~="not-prose"] *)):before,
.prose :where(code):not(:where([class~="not-prose"] *)):after {
  content: none;
}

.recent-posts {
  position: relative;
}

.recent-posts-text {
  position: relative;
  z-index: 1;
  background-color: #fff;
  padding-right: 1rem;
}

.recent-posts:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #011627;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  @apply bg-transparent;
}

code[class*="language-"],
pre[class*="language-"] {
  @apply font-mono;
  text-shadow: none;
}

pre[class*="language-"].line-numbers {
  @apply p-12 my-0 text-sm mx-auto border-0 leading-[1.2em];
  font-variant-ligatures: none;
}

figcaption a {
  @apply text-blue underline;
}
