{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="p-6 md:p-12 max-w-[800px]">
  <div class="prose">
    <h1 class="font-display">{{ page.intro_heading }}</h1>
    {{ page.intro_text|richtext }}
    <div>
      {% for post in posts %}
        <div>
          <a href="{{ post.url }}">
            <h2 class="mb-2">{{ post.title }}</h2>
          </a>
          <p class="mt-2">{{ post.first_published_at }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
