{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

<div class="md:grid md:grid-cols-3 md:gap-12 p-6 md:py-24 max-w-[56rem] mx-auto prose">
  <h1 class="mb-12">Recent Posts</h1>
  <div class="md:col-span-2 container flex flex-col gap-8">
    {% for post in posts %}
    <div class="border-solid border-black border-b-[1px] last-of-type:border-b-0 pb-4 md:pb-8">
      <h2 class="mt-0 mb-4 text-xl"><a href="{{ post.url }}" class="no-underline">{{ post.title }}</a></h2>
      {% if post.subtitle %}
      <h3 class="italic text-lg font-normal">{{ post.subtitle }}</h3>
      {% endif %}
      <p class="font-mono font-light text-sm">
        {{ post.first_published_at|date:"F j, Y" }}
        &bullet;
        {{ post.read_time }}
      </p>
      <div class="flex flex-wrap gap-2 mt-4">
        {% for tag in post.tags.all %}
        <span class="text-sm inline-flex px-2 py-1 leading-none bg-black !text-white italic">
          #{{ tag.name }}
        </span>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
