{% extends "base.html" %}
{% load wagtailcore_tags tz wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<picture>
  {% image page.featured_image format-webp as image_webp %}
  <source srcset="{{ image_webp.url }}" type="image/webp">
  {% image page.featured_image format-png as image_png %}
  <source srcset="{{ image_png.url }}" type="image/png">
  <img class="max-w-[800px] mx-auto aspect-square md:aspect-auto md:h-[460px] w-full object-cover" src="{{ image_png.url }}" alt="{{ image_png.alt }}" />
</picture>
<div class="p-6 md:pt-12 md:pb-12 md:px-0 max-w-[800px] mx-auto prose md:prose-lg">
  <p><a href="/" class="no-underline">Home</a></p>
  <h1 class="!mt-0 !mb-4">{{ page.title }}</h1>
  {% if page.subtitle %}
    <h2 class="font-light italic !my-4">{{ page.subtitle }}</h2>
  {% endif %}
  <p class="text-sm font-mono !text-slate-500">
    {{ page.first_published_at|date:"F j, Y" }}
    &bullet;
    {{ page.read_time }}
  </p>
</div>
{% for block in page.body %}
  {% include_block block %}
{% endfor %}

{% endblock content %}
