{% extends "base.html" %}
{% load wagtailcore_tags tz wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="p-6 md:py-24 max-w-[44rem] mx-auto prose">
  <p><a href="/" class="no-underline">Home</a></p>
  <h1 class="mb-4">{{ page.title }}</h1>
  {% if page.subtitle %}
  <h2 class="font-light italic !my-4">{{ page.subtitle }}</h2>
  {% endif %}
  <p class="text-base font-mono font-light">
    {{ page.first_published_at|date:"F j, Y" }}
    &bullet;
    {{ page.read_time }}
  </p>
  <div class="flex flex-wrap gap-2 mt-6">
    {% for tag in page.tags.all %}
    <span class="text-sm inline-flex px-2 py-1 leading-none bg-black !text-white italic">
      #{{ tag.name }}</span>
    {% endfor %}
  </div>
</div>
{% for block in page.body %}
{% include_block block %}
{% endfor %}

{% endblock content %}
