{% extends "base.html" %}
{% load wagtailcore_tags tz wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="p-6 md:pt-12 md:pb-12 md:px-0 max-w-[38rem] mx-auto prose">
  <h1 class="!mt-0 font-display text-lg md:text-xl mb-12">Hi, I'm Kyle Adkins.</h1>
  <p>
    I'm an experienced software engineer interested in game dev, virtual and augmented reality, art, and all
    other creative applications of technology. I currently work for the Applied Machine Learning Group
    at Paramount. I'm not really into long narrative biographies, so here are a few fast facts about me. I...
  </p>
  <ul>
    <li>Have lived in California, Texas, Arkansas, and Florida</li>
    <li>Attended a public <a href="https://asmsa.org">residential high school</a> in the historic downtown of Hot Springs, AR</li>
    <li>Left college to join <a href="https://apptegy.com">Apptegy</a> as a software engineer just a few months after I turned 20 years old</li>
    <li>Am the second youngest of 5 siblings</li>
    <li>Like traveling, swimming in the ocean, craft cocktails, art, playing games, programming, watching TikTok, and trying new things</li>
  </ul>
  <hr class="border-black" />
  <h2>Favorites</h2>
  <ul>
    <li><strong>Color:</strong> Green</li>
    <li><strong>Food:</strong> Indian. I practically lived at <a href="https://lrstarofindia.com">Star of India</a> in Little Rock</li>
    <li><strong>Animal:</strong> <a href="https://www.gibbongame.com/gibbons.html">Gibbons</a></li>
    <li><strong>Games:</strong> Spider-Man (2018), Skyrim, Stardew Valley, Grounded, everything Nintendo, competitive shooters (Apex, Call of Duty)</li>
    <li><strong>Movies &amp; TV:</strong> Blade Runner 2049, Into the Spider-Verse, Everything Everywhere All at Once, sitcoms, game shows, trashy reality TV</li>
    <li><strong>Programming Language:</strong> Python</li>
  </ul>
  <hr class="border-black" />
  <h2>Music</h2>
  <p>I collect all of the music that I like into one giant playlist on Spotify. There are over 400 songs&mdash;from Tyler Childers to Kali Uchis. It also acts as a timeline of the music I've listened to over the last couple years, which I think is neat. Enjoy.</p>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4EN6ktnN8dFXClbDdrmhl9?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>

{% endblock content %}
