{% extends "base.html" %}
{% load wagtailcore_tags tz wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="p-6 md:py-24 max-w-[44rem] mx-auto prose">
  <h1 class="mb-12">Hi, I'm Kyle Adkins.</h1>
  <p>
    I'm an experienced software engineer interested in web services, graphics, game dev, virtual and augmented reality, art, and all other creative applications of technology. I have a passion for devising simple solutions to complex problems.
  </p>
  <p>
    If you're interested in learning more about my career and technical ability, check out my <a href="https://www.linkedin.com/in/kylemadkins/">LinkedIn</a> or read some of the things that I've written <a href="/">here</a>.
  </p>
  <p>If you want to get to know me personally, keep reading!</p>
  <hr class="border-black" />
  <h2>Facts</h2>
  <ul>
    <li>I've lived in California, Texas, Arkansas, and Florida.</li>
    <li>I have 5 siblings. I'm the second youngest.</li>
    <li>I like cooking, traveling, swimming in the ocean, craft cocktails, art, playing games, programming, watching TikTok, and trying new things.</li>
  </ul>
  <h2>Favorites</h2>
  <ul>
    <li><strong>Color:</strong> Green</li>
    <li><strong>Food:</strong> Indian. I practically lived at <a href="https://lrstarofindia.com">Star of India</a> in Little Rock</li>
    <li><strong>Animal:</strong> <a href="https://www.gibbongame.com/gibbons.html">Gibbons</a></li>
    <li><strong>Games:</strong> Spider-Man (2018), Skyrim, Stardew Valley, Grounded, everything Nintendo, competitive shooters (Apex, Call of Duty)</li>
    <li><strong>Movies &amp; TV:</strong> Blade Runner 2049, Into the Spider-Verse, Everything Everywhere All at Once, sitcoms, game shows, trashy reality TV</li>
    <li><strong>Programming Language:</strong> Python</li>
  </ul>
  <h2>Music</h2>
  <p>I collect all of the music that I like into one giant playlist on Spotify. There are over 400 songs&mdash;from Tyler Childers to Kali Uchis. It also acts as a timeline of the music I've listened to over the last couple years, which I think is neat. Enjoy.</p>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4EN6ktnN8dFXClbDdrmhl9?utm_source=generator&theme=0" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</div>

{% endblock content %}
