{% extends "base.html" %}
{% load wagtailcore_tags tz wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}

<div class="p-6 md:py-24 max-w-[44rem] mx-auto prose">
  <h1>Get in touch!</h1>
  <h2 class="font-light italic mt-0">Have a question or want to work with me?</h2>
  <p>I'm always happy to help where I can. Feel free to connect with me on <a href="#">LinkedIn</a> or email me at kylemadkins at gmail.com.</p>
  <p>
    Thanks!
    <br />
    Kyle
  </p>
</div>

{% endblock content %}
