{% load wagtailimages_tags %}

<figure class="max-w-[44rem] w-full h-auto py-4 md:py-8 mx-auto">
  <picture>
    {% image self.image format-webp as image_webp %}
    <source srcset="{{ image_webp.url }}" type="image/webp">
    {% image self.image format-png as image_png %}
    <source srcset="{{ image_png.url }}" type="image/png">
    <img src="{{ image_png.url }}" alt="{{ image_png.alt }}" />
  </picture>
  {% if self.caption %}
  <figcaption class="italic mt-4 px-6 text-base">{{ self.caption }}</figcaption>
  {% endif %}
</figure>
