{% load static %}

<div class="bg-slate-100 my-6 md:my-8">
  <figure class="quote relative max-w-[800px] p-6 md:px-0 md:py-8 mx-auto prose-lg md:prose-xl">
    <blockquote class="!font-light !italic border-none !p-0">
      <svg class="fill-slate-900 w-6 h-auto !mt-0 !mb-6" viewBox="0 0 576 480" xmlns="http://www.w3.org/2000/svg">
        <path d="M128 0H256V64H192V128H128V224H256V480H0V96H64V32H128V0Z" />
        <path d="M384 96H320V480H576V224H448V128H512V64H576V0H448V32H384V96Z" />
      </svg>
      {{ self.quote }}
    </blockquote>
    <figcaption>{{ self.attribution }}</figcaption>
  </figure>
</div>
